<head>
    <title>Billing Gateway</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<body>
<div style="text-align: center;">
    <header style="background-color:#a2c2ef;font-size:40px;color:white;font-family: 'Roboto', sans-serif;"><b>
        INVOICE
    </b></header>
    <! --- Customer Detail Form START --->
    <form method="post" id="customer-form">
        {% csrf_token %}
        <div style="text-align: center;">
            <div id="entry-fields">
                <! --- Customer Name --->

                <label for="cust_name" class="form_label"><br> Customer Name: </label>
                <input type="text" id="cust_name" name="cust_name" value="{{ cust_name }}"
                       class="form_box" disabled>

                <! --- Customer ID --->

                <label for="cust_id" class="form_label">Customer ID:</label>
                <input type="text" id="cust_id" name="cust_id" value="{{ cust_id }}"
                       class="form_box" disabled>

                <! --- Customer Phone Number --->

                <label for="ph_number" class="form_label"> Mobile Number: </label>
                {% if not logged %}
                    <input class="form_box" type="text" id="ph_number" name="ph_number"
                           maxlength="10">
                {% else %}
                    <input class="form_box" type="text" id="ph_number" name="ph_number"
                           maxlength="10" value="{{ ph_no }}">
                {% endif %}
                <! --- Submit Button --->
                <input type="submit" class = "button login" value="Login">
                <! --- Customer Detail Form END --->
            </div>
        </div>

    </form>
    <br><br>
    {% if logged %}
        <div id="entry-fields">
            <! --- Product Detail Form START --->
            <form method="post" id="product-form">
                {% csrf_token %}
                <div style="text-align: center;">
                    <! --- Product Code --->
                    <label for="prod_code" class="form_label">Product Code: </label>
                    <input class="form_box" type="text" id="prod_code" name="prod_code"
                           size="5" value="{{ product_id }}" disabled>

                    <! --- Product Name --->
                    <label for="prod_name" class="form_label">Product name:</label>
                    <select class="form_box" type="text" id="prod_name" name="prod_name"
                            onchange="this.form.submit()">
                        <option disabled selected value> -- select an option --</option>
                        {% for i in prod_name %}
                            <option {% if product_name == i %} selected {% endif %} value="{{ i }}">{{ i }}</option>
                        {% endfor %}

                    </select>

                    <! --- Product Quality --->

                    <label for="prod_qlt" class="form_label">Quality :</label>
                    <select class="form_box" name="prod_qlt" id="prod_qlt">
                        <option {% if product_qlt == '' %}selected {% endif %} disabled selected value> -- select an
                            option
                            --
                        </option>
                        <option {% if product_qlt == 'a1' %} selected {% endif %} value="a1">Grade 1</option>
                        <option {% if product_qlt == 'a2' %} selected {% endif %} value="a2">Grade 2</option>
                        <option {% if product_qlt == 'a3' %} selected {% endif %} value="a3">Grade 3</option>
                    </select>

                    <! --- Product Quantity --->
                    <label for="qty" class="form_label">Quantity:</label>
                    <input class="form_box" type="text" id="prod_qty" name="prod_qty"
                           size="5"
                           value={{ product_qty }}>


                    <! --- Submit Button --->
                    <input class = "button add" type="submit" name="product-form-submitted" value="Add"
                    >
                </div>
            </form>
        </div>
        <! --- Product Detail Form END ---->
        {% if incomplete_form %}
            <div style="font-family: 'Roboto', sans-serif;color: red;text-align: center">Enter all details !</div> {% endif %}

        <div id="section-to-print">
            <div class="invoice-details">
                <div>
                    Invoice Number : {{ invoice_num }}
                </div>
                <div>
                    Date : {{ date }}
                </div>
            </div>
            <div class="invoice-details">
                <div>
                    Name : {{ cust_name }}
                </div>
                <div>
                    Customer ID : {{ cust_id }}
                </div>
                <div>
                    Phone Number : {{ ph_no }}
                </div>
            </div>
            <br><br><br>
            <table class="product-table">
                <tbody>
                <tr class="top-row">
                    <th scope="col">S No.</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Net Price</th>
                    <th class="remove-field " scope="col">Remove</th>
                </tr>
                {% for i in prod_list %}
                    <tr>

                        {% for j in i %}
                            <td>{{ j }}</td>
                        {% endfor %}

                        <td class="remove-field">
                            <form method="post">{% csrf_token %} <button class="remove" type="submit"
                                                                        name="remove-{{ i.0 }}"
                                                                        value="-">&#10006;</button></form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            <br><br>
            <h2>Your Total is : Rs.{{ total }}</h2>
            <h2>Your Discount is : Rs.{{ discount }}</h2>
            <h1>Your Grand Total is : Rs.{{ total_amount }}</h1>
        </div>
        <div class="container">
            <div class="fixed">
                <button class="button save"  onclick="window.print()">
                    Save</button>
            </div>
            <div class="flex-item">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="cancel" class="button cancel">
                        Cancel</button>
                </form>
            </div>
        </div>


        </div>
    {% endif %}
    <footer class="footer">
        <form method="post">{% csrf_token %}<input type="submit" value="Refresh Data" name="refresh"></form>
    </footer>
</body>

